<!DOCTYPE html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {[ spread hello ]}
            {% var msg = 'hello' %}
            {{ msg }}
        {[ endspread ]}
        <p>{! no_escaped_html !}</p>

        old_text_to_replace
        <p>This is a escaped template tag: ~{{ msg }}</p>

        {# Comment that won't appear in the HTML #}

        {% if (true): %}
            <p>This is inside a Js condition</p>
        {% end %}

        <p>Using the stdlib:</p>
        {{ sum('2.5', 3, 2) }}<br>
        {{ subtract('2.5', 3, 2) }}<br>
        {{ average([4.5, 6, 3, 2.8, 9]) }}<br>
        {{ strBefore('Lorem ipsum dolor sit', 'ipsum') }}<br>
        {{ strAfter('Lorem ipsum dolor sit', 'ipsum') }}<br>
        {{ remove('Lorem ipsum dolor sit', 'ipsum') }}<br>
        {{ titleCase('lorem ipsum dolor sit') }}<br>
        {{ range(1, 10) }}<br>
        {{ join(['you', 'me', 'I'], ', ', ' and ') }}<br>
        {{ round(1.446, 2) }}<br>
    </body>
</html>

@require(footer.html)

@spread(hello)
